.fadeIn{
  -webkit- animation-duration: 2s;
  -webkit- animation-fill-mode: both;
  -webkit- animation-name: fadeIn;
  animation-name: fadeIn;
  animation-fill-mode: both;
  animation-duration: 2s;
}
@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 2;
  }
}

.fadeInUp{
  -webkit- animation-duration: 1s;
  -webkit- animation-fill-mode: both;
  -webkit- animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes fadeInUp {
  from{
    opacity: 0;
    -webkit- transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to{
    opacity: 2;
    -webkit- transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

.fadeInDown{
  -webkit- animation-duration: 2s;
  -webkit- animation-fill-mode: both;
  -webkit- animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-fill-mode: both;
  animation-duration: 2s;
}

@keyframes fadeInDown {
  from{
    opacity: 1;
    -webkit- transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
  }
  to{
    opacity: 2;
    -webkit- transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}
