@media (max-width: 1000px) {
  .products{
    display: inherit;
    height: auto;
  }

  .product{
    margin-top: auto;
  }
  .main_section{
    padding: 4%;
  }
  .decoracion{
    display: inherit;
  }
  .meciones{
  display: inherit;
  }
  .men_img{
    background-size: auto;
  }
}
